<div class="container">
  <div class="mx-auto" style="width: 500px;">
    <h4>
      Reserve Bus (Booking)
    </h4>
    <hr>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Reservation Date </label>
        <input type="date"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Bus Detail </label>
        <select class="form-select" aria-label="Default select example">
          <option >Please select </option>
          <option value="1">One</option>

        </select>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Departure </label>
        <select class="form-select" aria-label="Default select example">
          <option >Please select </option>
          <option value="1">One</option>

        </select>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Arrival at</label>
        <select class="form-select" aria-label="Default select example">
          <option >Please select </option>
          <option value="1">One</option>

        </select>
      </div>


      <button type="submit" class="btn btn-success">Book now</button>
    </form>
  </div>


</div>
