<div class="container mt-100">
  <h5 class="text-muted">My Reservation</h5>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Reservation Date</th>
      <th scope="col">Departure </th>
      <th scope="col">Arrival </th>
      <th scope="col">Passenger <small>details</small></th>
      <th scope="col">Vehicle <small> number/name</small></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark date</td>
      <td>Otto depart</td>
      <td>@mdo arrival</td>
      <td>@mdo passenger </td>
      <td>@mdo vehicle </td>
    </tr>

    </tbody>
  </table>
</div>
