<div class="container">
  <div class="mx-auto" style="width: 500px;">
    <h4>
      Register
    </h4>
    <hr>
    <form >
      <div class="mb-3">
        <label for="nic" class="form-label" >Name</label>
        <input type="email" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label for="nic" class="form-label">NIC No</label>
        <input type="email" class="form-control" id="nic" aria-describedby="nicHelp">
        <div id="nicHelp" class="form-text">We'll never share your NIC with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>

      <div class="mb-3">
        <label for="password_confirmation" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="password_confirmation">
      </div>

      <button type="submit" class="btn btn-outline-primary">Register</button>
      <div>some message</div>
    </form>
  </div>


</div>
